@import '../vars.sass'
@import '../../../node_modules/normalize.css/normalize.css'


.loginscreen-wrapper
    background: linear-gradient(to bottom right, #16a085, #9b59b6)
    width: 100%
    height: 100vh
    display: flex
    align-items: center
    justify-content: center

.loginscreen-headline
    box-sizing: border-box
    text-align: center
    color: #2c3e50
    background: white
    border-radius: 2px
    width: 70%
    padding-top: 5px
    padding-bottom: 40px

    margin-left: auto
    margin-right: auto

    h1
        margin-bottom: 0
    p
        margin-top: 0

.loginscreen-login
    color: $white
    text-align: center
    //border: 2px solid $green
    padding: 20px
    border-radius: 2px
    //background: $green
    p
        opacity: 0.8

    .btn
        margin-top: 10px
        background-color: #f39c12
        padding: 16px
        padding-left: 25px
        padding-right: 25px
        color: white
        font:
            weight: 600
        text-transform: uppercase
